@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
  }
  
  .w-layout-layout {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding: 20px;
  }
  
  .w-layout-cell {
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  
  /* These two define the white block (and that block only) */
  .w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .flex-block {
    height: 100%;
    mix-blend-mode: normal;
    object-fit: fill;
    background-color: #fff;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0vw; /*23vw;*/
    padding-right: 13vw;
  }
  
  .w-layout-hflex {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
  }
  
  .cell {
    flex-direction: row;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    justify-content: start;
    grid-template-rows: auto 1fr;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewport="0 0 100 100" style="fill:rgba(150, 150, 150, 0.5);"><circle cx="12" cy="12" r="12"/></svg>') 12 12, auto !important;
}

/*h1, h2, h3, h4, h5, h6, p, li {
    cursor: text !important;
  }*/
  
  
  .heading {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #fff;
    text-align: left;
    -webkit-text-stroke-color: #fff;
    mix-blend-mode: normal;
    border: 2px #6a6a6a;
    border-radius: 7px;
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-self: auto;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 68px;
    font-weight: 900;
    line-height: 51px;
    display: flex;
  }
  
  .quick-stack {
    height: auto;
    min-height: auto;
    position: static;
    overflow: visible;
  }

  .body {
    text-align: left;
    background-color: #fff;
    margin: 0;
  }
  
  .sm-icon-link .sm-icon {
    transition: all 0.3s ease;
  }
  
  .sm-icon-link:hover .sm-icon {
    transform: scale(1.1); /* Make the icon larger when hovered */
  }
  
  

/* Keep the noise stationary */
.quick-stack-2 {
    height: 70vh;
    overflow: auto;
    filter: saturate(127%);
    -webkit-text-stroke-color: #fff;
    cursor: auto;
    mix-blend-mode: normal;
    object-fit: fill;
    background-image: url('../images/orchard2.png');
    background-position: 0 0;
    background-size: 150px;
    background-attachment: scroll;
    padding: 15vh 0;
  }
  
  /* Animation Keyframes */
  @keyframes Gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  
  
  .quick-stack-2.qs2 {
    padding-top: 15vh; /* size of bottom rainbow */
  }

  .paragraph {
    text-align: right;
    mix-blend-mode: normal;
    align-self: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: -60px;
    padding-left: 23vw;
    padding-right: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  
  .div-block {
    text-align: left;
    mix-blend-mode: normal;
    background-color: #000;
    border: 2px solid #4d4d4d;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px;
    display: flex;
  }
  
  .image {
    max-height: 100%;
    min-height: 20px;
    height: 100%;
    width: 100%;
    filter: saturate(85%);
    object-fit: cover;
    position: relative;  }
  
  
  .cell-2 {
    align-items: flex-start;
  }
  
  .button {
    -webkit-text-stroke-color: #313131;
    background-color: #fff;
  }
  
  .text-span {
    color: #353535;
    -webkit-text-stroke-color: #2a2a2a;
    font-family: Inconsolata, monospace;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .sm-icon {
    width: 48px;
    height: auto;
    mix-blend-mode: normal;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0);
    border: 2px #b5b5b5;
    border-radius: 0;
  }
  
  .sm-icon-link {
    min-height: 0;
    color: #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: 20%;
    text-decoration: none;
    display: flex;
  }
  
  .flex-block-2 {
    min-width: 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff;
    justify-content: flex-end;
    align-self: stretch;
    align-items: center;
  }
  
  .noise {
    width: 140vw;
    height: 140vh;
    background-image: url('../images/black-orchid.png');
    background-position: 0 0;
    background-size: 150px;
    position: absolute;
  }


  .slideInFromLeft1Animation {
    animation: slideInFromLeft 0.8s cubic-bezier(.16,0.9,.29,1);
  }

  .slideInFromLeft2Animation {
    animation: slideInFromLeft 1.2s cubic-bezier(.16,1.2,.29,1);
  }
  
  .slideInFromTop1Animation {
    animation: slideInFromTop 1.0s cubic-bezier(.16,1.2,.29,1);
  }
  


.flex-block {
  
  border-radius: 0  0 15vh 0;
  margin-right: 5%;
}

.flex-block, .image {
  transition: transform 0.5s;
}

.flex-block.active {
  animation: sideways-motion 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.image.active {
  animation: upwards-motion 0.5s cubic-bezier(.36,.07,.19,.97) both;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}



@keyframes sideways-motion {
  0% {
    transform: translate(0%, 00%);
  }
  50% {
    transform: translate(-1%, 00%);
  }
  100% {
    transform: translate(0%, 00%);
  }
}

@keyframes upwards-motion {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-50%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-25%);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes slideOutToTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-25%);
    }
  }

  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  

  @media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    .flex-container > .w-layout-cell {
        flex: 1 1 100%;
    }

    .flex-block {
      height: 70vh;
    }

    .heading {
        font-size: 40px; 
        line-height: 40px;
    }

    /*.image {
        max-width: 100% !important;
    }*/

    .flex-block {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .paragraph {
        text-align: left;
        margin-right: 0;
        padding-left: 0;
    }

    .quick-stack-2 {
        height: auto;
        padding: 15vh 0 0 0;
    }

    .w-layout-layout {
        grid-row-gap: 15vh;
    }

    .div-block {
      padding: 5px;
    }
}
