@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.ttf') format('truetype');
}

.grid-cell {
  max-height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

/* This class defines the white block (and that block only) */
.flex-vertical {
  flex-direction: column;
  align-items: flex-start;
  display: flex;

  height: 100%;
  mix-blend-mode: normal;
  object-fit: fill;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0vw; /*23vw;*/
  padding-right: 13vw;

  border-radius: 0  0 15vh 0;
  margin-right: 5%;
}

.grid-container {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  grid-template-columns: 70% auto;
  grid-template-rows: auto 1fr;

  display: grid;
  justify-content: start;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewport="0 0 100 100" style="fill:rgba(150, 150, 150, 0.5);"><circle cx="12" cy="12" r="12"/></svg>') 12 12, auto !important;

  height: 70vh;
  overflow: auto;
  filter: saturate(127%);
  cursor: auto;
  mix-blend-mode: normal;
  object-fit: fill;
  background-position: 0 0;
  background-size: 150px;
  background-attachment: scroll;
  padding: 15vh 0;
}

.heading {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
  text-align: left;
  mix-blend-mode: normal;
  border: 2px #6a6a6a;
  border-radius: 7px;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 68px;
  font-weight: 900;
  line-height: 51px;
  display: flex;
}

.body {
  text-align: left;
  background-color: black;
  margin: 0;
}

.sm-icon-link .sm-icon {
  transition: all 0.3s ease;
}

.sm-icon-link:hover .sm-icon {
  transform: scale(1.1); /* Make the icon larger when hovered */
}

.paragraph {
  text-align: right;
  mix-blend-mode: normal;
  align-self: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: -60px;
  padding-left: 23vw;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.text-highlighter {
  text-align: left;
  mix-blend-mode: normal;
  background-color: #000;
  border: 2px solid #4d4d4d;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
  padding: 10px;
  display: flex;
}

.image {
  max-height: 70vh;
  min-height: 20px;
  height: 100%;
  width: 100%;
  filter: saturate(85%);
  object-fit: cover;
  position: relative;  }


.main-cell {
  align-items: flex-start;
}

.sm-icon {
  width: 48px;
  height: auto;
  mix-blend-mode: normal;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #b5b5b5;
  border-radius: 0;
}

.sm-icon-link {
  min-height: 0;
  color: #000;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  line-height: 20%;
  text-decoration: none;
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
  align-items: flex-start;
  display: flex;

  min-width: 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
}

.flex-vertical, .image {
  transition: transform 0.5s;
}

.flex-vertical.active {
  animation: sideways-motion 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.image.active {
  animation: upwards-motion 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.loading .hide-until-loaded {
  animation-name: none !important;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* Change to a single column layout */
      height: auto;
      padding: 15vh 0 0 0;
      grid-row-gap: 15vh;
  }

  .flex-container > .grid-cell {
      flex: 1 1 100%;
  }

  .heading {
      font-size: 40px; 
      line-height: 40px;
  }

  .image {
      max-height: 100%;
  }

  .flex-vertical {
    height: 70vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  
  .paragraph {
      text-align: left;
      margin-right: 0;
      padding-left: 0;
  }

  .text-highlighter {
    padding: 5px;
  }
}

